<div class="hero-content text-center text-neutral-content fade-container-herotext visible" id="login-card_hero-text" style="display: none">
  <div class="max-w-md">
    <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
    <p class="mb-5">Find your favourite movies, find like-minded friends and make new connections. Best way to cultivate connections than movies</p>
    <%= link_to "Get Started", '#', class: "start btn btn-primary", id: "get-started-link"%>
  </div>
</div>