.movie-card{
    margin-bottom: 20px;
}

.bottom-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.min-h-screen{
    min-height: 80vh;
    border-radius: 13px;
}

.navbar{
    background: bottom;
    color: red;
}
#site-log{
    zoom: .35;
}
.screen {
    box-shadow: 0 0px 97px -30px aquamarine;
    transition: box-shadow 0.3s ease; /* Smooth transition */
}

.screen.hovered {
    box-shadow: 0 0px 97px 10px chocolate;
}

#tv-on-light.hovered{
    background: chocolate;
    box-shadow: 0px 0px 12px 10px chocolate;
}


#logo-container{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: center;
}
#site-log{
    zoom: .35;
}
.screen .carousel{

}

#hero-movie-page{
    min-height: 30vh;
    min-width: 40vh !important;
}

.movie-page-hero{
    background-size: inherit;
}

#movie-page-w-full{
    /*width: fit-content;*/
     border-radius: 2px !important;
    padding: 10px;
    background: #1e1e1e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.single-movie-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#tv-on-light{
    margin-top: 35px;
    margin-right: 20px;
    border: none;
    background: #15bbb0;
    box-shadow: 0px 0px 12px 10px #15bbb0;
    margin-bottom: 20px;
    zoom: .5;
}





@media (min-width: 1024px) {
    #movie-page-w-full {
        max-width: none;
    }
}

