/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.alert-dismissible{
    position: absolute;
    top: 10%;
}
.dropdown-content{
    height: 100vh;
}

.carousel-item {
    display: none;
}
.carousel-item.active {
    display: block;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.alert-dismissible.slide-up {
    animation: slideUp 0.5s forwards;
}

.navbar{
    height: 10%;
    position: fixed;
    z-index: 1000;
    top: 0;
    color: #1d6790;
}
.drawer-side{
    align-items: flex-start;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-template-rows: repeat(1,minmax(0,1fr));
    height: 90vh;
    /* height: 100dvh; */
    inset-inline-start: 0;
    justify-items: start;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior: contain;
    pointer-events: none;
    position: fixed;
    bottom: 0 !important;
     top: auto;
    width: 100%;
}

.drawer-side>:not(.drawer-overlay) {
    /*transform: translateX(-100%);*/
    /*transition-duration: .3s;*/
    /*transition-property: transform;*/
    /*transition-timing-function: cubic-bezier(.4,0,.2,1);*/
    /*transition-timing-function: cubic-bezier(0,0,.2,1);*/
    /*will-change: transform;*/
    /* background: black;*/
    box-shadow: 0px 0px 92px -12px black;

    /*color: chocolate;*/
}
.btn-primary{
    background-color: #1d6790;
    border: none;
    border-radius: 12px;
}

.input:focus, .input:focus-within {
    box-shadow: 0px 0px 2px 0px;
outline-color: white;
}

.swap-rotate{
    zoom: .6;
    width: 80px;
}