.min-h-screen{
    min-height: 80vh;
    border-radius: 0px !important;
}

.navbar{
    background: bottom;
    color: red;
}
#site-log{
        zoom: .35;
}
.screen {
    box-shadow: 0 0px 97px -30px aquamarine;
    transition: box-shadow 0.3s ease; /* Smooth transition */
    /* border-radius: 20px; */
     border-radius: 6px !important;
    /*padding: 5px;*/
    /*background: aquamarine;*/isplay: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.screen.hovered {
    box-shadow: 0 0px 97px 10px chocolate;
    /*background: chocolate;*/
}
#logo-container{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: center;
}
#site-log{
        zoom: .35;
}

#login-card{
    position: absolute;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 28px -6px black;
    background: bottom;
}

#login-card_hero-text{
position: absolute;
    border-radius: 6px;
    padding: 20px;
    background: bottom;
}

.carousel-container{
    flex: 1;
}

.fade-container-login-card {
    transition: opacity 1s ease-in;
}

.fade-container-herotext {
    transition: opacity .5s ease-out;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.slide-up {
    transform: translateY(0);
    opacity: 1;
}
